/* You can add global styles to this file, and also import other style files */
* {
  font-family: Calibri;
  color: palegreen;
}

body {
  background-color: #222F22;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.float-right {
  float: right;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #222222;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-corner {
  background-color: #222222;
}


