<span *ngIf="gameEvent" [title]="gameEvent.message">
  <span class="name">
  {{gameEvent.subject}}
</span>
  <strong class="vehicle" (click)="searchVehicleByName.emit(gameEvent.subjectVehicle)">
    ({{gameEvent.subjectVehicle}})
  </strong>
  <span>
  {{gameEvent.eventType}}
</span>
  <span class="name" *ngIf="gameEvent.target">{{gameEvent.target}}</span>
  <strong class="vehicle" *ngIf="gameEvent.targetVehicle" (click)="searchVehicleByName.emit(gameEvent.targetVehicle)">
    ({{gameEvent.targetVehicle}})
  </strong>
</span>
