<span *ngIf="gameVendetta" [title]="gameVendetta.events[0].message" (click)="gameVendetta.showDetails = !gameVendetta.showDetails" [ngClass]="{'text-muted': gameVendetta.resolved}">
  <span [ngClass]="{'strikethrough': gameVendetta.resolved}">
  <span *ngIf="gameVendetta.killCount > 1">{{gameVendetta.killCount}}x</span>
  <span class="name">{{gameVendetta.target}}</span>
  <strong class="vehicle" (click)="searchVehicleByName.emit(gameVendetta.targetVehicle)">
    ({{gameVendetta.targetVehicle}})
  </strong>
</span>
  <span *ngIf="gameVendetta.resolvedBy">&nbsp;&nbsp;{{gameVendetta.resolveEventType}} by
  <span class="name">
    {{gameVendetta.resolvedBy}} <strong class="vehicle" (click)="searchVehicleByName.emit(gameVendetta.resolverVehicle)">({{gameVendetta.resolverVehicle}})</strong>
  </span></span>
  <span *ngIf="gameVendetta.resolved && !gameVendetta.resolvedBy"> - went out like a peasant</span>
</span>
