/*Seriously organize all the styles when refactoring the UI!*/
button {
  width: 200px;
  height: 50px;
  color: whitesmoke;
  background-color: darkslategrey;
}

button.start {
  background-color: #2faf4f;
}

button.stop {
  background-color: #af4f4f;
}

button.search {
  width: 50px;
  height: 24px;
}

.page-header {
}

.events-box {
  display: inline-block;
  min-width: 50%;
  min-height: 100px;
  height: 800px;
  width: 100%;
  background-color: #222222;
  resize: vertical;
  border: 1px solid darkslategrey;
  overflow: auto;
  text-align: left;
}

.events-box:empty:before{
  content: "\200b";
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  text-align: center;
}

input {
  background-color: darkslategrey;
}

table {
  width: 100%;
  height: 100%;
}
td {
  height: 100%;
  width: 33%;
  min-width: 300px;
  vertical-align: top;
  horiz-align: left;
}

.name {
  color: limegreen;
}

.vehicle {
  color: limegreen;
  cursor: pointer;
}

.vehicle:hover {
  background-color: darkgreen;
}

.events-box {
  display: block;
}

.strikethrough {
  text-decoration: line-through;
}

.vendetta-details {
  background-color: rgba(100%, 100%, 100%, 0.1);
}

.indented {
  padding-left: 20px;
}

.text-muted{
  opacity: 0.5;
}
