<div class="page-header">
  <div style="text-align:center">
    <h1>{{ title }}</h1>
  </div>
  <button class="button start" *ngIf="!timerSubscription" (click)="setPollGameData(true)">Start polling</button>
  <button class="button stop" *ngIf="timerSubscription" (click)="setPollGameData(false)">Stop polling</button>
  <button class="button" (click)="resetRound()" title="For starting new round">Clear log</button>
  <button class="button" (click)="resetGame()" title="Clear log and reset indices from 0">Restart game</button>
  <div class="float-right">
    <label>Game host: </label>
    <input type="text" title="Local IP of the machine running War Thunder (for remote monitoring)" [(ngModel)]="tmpGameApiHost" placeholder="127.0.0.1" [value]="gameApiHost">
    <button class="button search" (click)="setGameApiHost()" title="Set">Ok</button>
    <button class="button search" (click)="tmpGameApiHost=undefined; setGameApiHost()" title="Reset">Reset</button>
  </div>
</div>
<br>
<div class="page-body">
  <table class="event-table">
    <tr class="header">
      <td colspan="3" [hidden]="!showFiltered">
        <span>Filtered events <span *ngIf="playerName">(playerName: {{playerName}})</span><br></span>
      </td>
      <td colspan="3" [hidden]="!showEvents">
        <span>All events</span>
      </td>
      <td colspan="3" class="vendettas" [hidden]="!showVendettas">
        <span>Vendettas</span>
      </td>
      <td colspan="3" class="vehicle-info" [hidden]="!showVehicle">
        <span>Vehicle Info</span>
      </td>
    </tr>
    <tr class="events">
      <td colspan="3" [hidden]="!showFiltered">
        <div class="events-box" #filteredBox>
          <span *ngIf="!playerName">Input a player name to filter on</span>
          <ng-container *ngFor="let gameEvent of filteredList">
            <event-row [gameEvent]="gameEvent" (searchVehicleByName)="searchVehicleByName($event)"></event-row><br>
          </ng-container>
        </div>
      </td>
      <td colspan="3" [hidden]="!showEvents">
        <div class="events-box" #eventsBox>
          <div *ngIf="error">
            <span>Error while getting game data, game probably not running.</span>
            <br>
            <strong>Message:</strong>
            {{error.message}}
          </div>
          <ng-container *ngFor="let gameEvent of displayList">
            <event-row [gameEvent]="gameEvent" (searchVehicleByName)="searchVehicleByName($event)"></event-row><br>
          </ng-container>
        </div>
      </td>
      <td colspan="3" class="vendettas" [hidden]="!showVendettas">
        <div class="events-box" #vendettaBox>
          <ng-container *ngFor="let vendetta of vendettaManager.fullVendettaList">
            <vendetta-row [gameVendetta]="vendetta" (searchVehicleByName)="searchVehicleByName($event)"></vendetta-row><br>
          </ng-container>
        </div>
      </td>
      <td colspan="3" class="vehicle-info" [hidden]="!showVehicle">
        <div class="events-box" #eventsBox>
          <ng-container *ngIf="!vehicleError && displayVehicle && displayVehicle['url']">
            <h2>{{ displayVehicle['fullName'] }} [{{displayVehicle['name']}}]</h2>
            <h4><span *ngIf="displayVehicle['type']">{{displayVehicle['type']}}</span> <span *ngIf="displayVehicle['br']">(BR {{displayVehicle['br']}})</span> <a *ngIf="displayVehicle['url']" href="{{ displayVehicle['url'] }}" target="blank">WT wiki</a></h4>
            <div *ngIf="displayVehicle['images']">
              <img *ngIf="displayVehicle['images']['garage']" src="{{ displayVehicle['images']['garage'] }}">
              <img *ngIf="displayVehicle['images']['ammoRacks']" src="{{ displayVehicle['images']['ammoRacks'] }}">
            </div>
            <ng-container *ngIf="displayVehicle['armor']">
              <strong>Armor</strong><br>
              <span>Front - {{ displayVehicle['armor']['front'] }}</span><br>
              <span>Sides - {{ displayVehicle['armor']['sides'] }}</span><br>
              <span>Rear - {{ displayVehicle['armor']['rear'] }}</span><br>
              <span>Top - {{ displayVehicle['armor']['roof'] }}</span><br>
            </ng-container>
          </ng-container>
          <span *ngIf="vehicleError">{{ vehicleError["message"] }}</span>
          <span *ngIf="!vehicleError && (!displayVehicle || !displayVehicle['url'])"> No vehicle found. </span>
        </div>
      </td>
    </tr>
    <tr class="footer">
      <td colspan="12">
        <div>Player name: <input type="text" [(ngModel)]="tmpPlayerName" [value]="playerName" title="Player Name"/> <button class="button search" (click)="filterOnName()">Filter</button></div>
        <div class="float-right"><input type="text" [(ngModel)]="vehicleSearch" [hidden]="!showVehicle"> <button class="button search" (click)="searchVehicleByName()" [hidden]="!showVehicle" title="Search for vehicle by name"><i class="icon-magnifier"></i>Search</button></div>
        <br>
        <input type="checkbox" name="showFiltered" [(ngModel)]="showFiltered"> Filtered events
        <input type="checkbox" name="showEvents" [(ngModel)]="showEvents"> All events
        <input type="checkbox" name="showVendettas" [(ngModel)]="showVendettas"> Vendettas
        <input type="checkbox" name="showVehicle" [(ngModel)]="showVehicle"> Vehicle info
      </td>
    </tr>
  </table>
</div>

